.grid-contact{
  display: flex;
  flex-flow: row wrap;
  flex: 2;
  flex-direction: column;
  align-items: stretch;

}

.div-contact{
  display: block;
}

ul.contact-list{
  list-style: none;
  display: block;
  flex-direction: row;
  padding: 8px 0;
  line-height: 24px;
}

.social{
 // padding: 20px;
  font-size: 60px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  float: left;
  display: inline-block;
  //background: #3B5998;
  color: $secondary;
  transition: 0.5s;
  margin-bottom: 40px;
}

.social.github:hover{
  color: #24292e;
}

.social-desc{
  float: right;
  display: block;
}

.social-name{
  font-weight: 900;
  font-size: 1.3em;
}

.social-item{
  text-decoration: none !important;
}