.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;

  .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  .masthead-subheading {
    font-size: 1.25rem;
  }
  .masthead-avatar {
    width: 15rem;
  }
  background-image: url("../../img/background.jpg");
  background-size: cover;
}

@include media-breakpoint-up(lg) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
    background-image: url("../../img/background.jpg");
    background-size: cover;
    .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead-subheading {
      font-size: 1.5rem;
    }

  }
}
